//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  .container-fixed();
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  .make-row();
}


// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(xs);

@media (max-width: @screen-xs) {
  .make-grid(xs);

  .sku-holder{
    margin-bottom: 15px;
  }

  .product-item-picture{
    margin-bottom: 15px;
    img{
      display: inline;
      max-width: 100%!important;
    }
  }

  /* outer div */
  .row-offcanvas {
    position: relative;
    left: 0;
    -webkit-transition: left .3s ease-in;
    -most-transition: left .3s ease-in;
    transition: left .3s ease-in;
  }

  /* sidebar */
  .sidebar-offcanvas {
    left: -90%;
    width: 90%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #F7F7F7;
    padding: 10px;
  }

  /* content */
  .row-offcanvas.active {
    left: 90%;
  }

  header{
    &.navbar-default{
      position: relative!important;
    }

    .search-form-holder{
      padding: 7px 0;
    }

    .collapse-panel-holder{
      position: relative!important;
      top: 0!important;
      left: 0!important;
      .catalog-section-menu-level-2{
        li{
          width: 100%!important;
          float: none!important;
        }
      }
    }
  }
  .hit-tabs{
    position: relative!important;
    top: 0!important;
    .nav-pills{
      margin-top: 15px;
    }

    .col-xs-12{
      margin-bottom: 15px;
    }

  }

  .product-list{
    &.th{
      > li{
        width: 316px!important;
      }
    }
  }

  .product-characteristics{
    .articul{
      padding:0 0 7px 0;
    }
  }

  .main-product-quality{
    float: none;
    width: 100%;
    li{
      display: inline-block;
    }
  }

  .product-descriptions-tabs{
    .col-md-9{
      border-right: none;
    }
  }

  .price-buy-holder{
    text-align: center;

    .btn,
    .item-products-options{
      margin-top: 15px;
      display: inline-block!important;
      vertical-align: top;
      float: none!important;
    }
    .item-products-options{
      margin-top: 22px;
      margin-right: 10px;
    }

  }

}

// Small grid (Планщеты)
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(sm);
  .smart-breadcrumbs,
  .index-promo-holder{
    margin-top: 135px;
  }

  .catalog-page-header{
    text-align: center;
    .sorting-product-holder{
      text-align: center!important;
      line-height: 30px;
    }
  }

}

@media (max-width: @screen-sm-min) {

  .product-item-picture{
    margin-bottom: 15px;
    img{
      display: inline;
      max-width: 50%;
    }
  }

  .product-list{
    &.th{
      > li{
        width: 244px;
      }
    }
  }

  /* outer div */
  .row-offcanvas {
    position: relative;
    left: 0;
    -webkit-transition: left .3s ease-in;
    -most-transition: left .3s ease-in;
    transition: left .3s ease-in;
  }

  /* sidebar */
  .sidebar-offcanvas {
    left: -90%;
    width: 90%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #F7F7F7;
    padding: 10px;
  }

  /* content */
  .row-offcanvas.active {
    left: 90%;
  }
  /* content */

  .row-offcanvas.off {
    left: 0!important;
  }


  header{
    &.navbar-default{
      position: relative!important;
      .brand-search-holder{
        .search-form-holder{
          padding: 7px 0;
        }
        .text-right{
          text-align: center!important;
        }
      }
      .main-menu-holder{
        .navbar-nav{
          li{
            a{
              padding: 10px!important;
              background: none;
            }
          }
        }
      }
    }
  }
  .collapse-panel-holder{
    position: relative!important;
    top: 0!important;
    left: 0!important;
  }

  .footer-helps-holder{
    .text-left,
    .text-right{
      text-align: center!important;
    }
    .col-md-6{
      padding: 3px 0;
    }
  }
  .hit-tabs{
    position: relative!important;
    top: 0!important;
  }

  .catalog-page-header{
    text-align: center;
    .sorting-product-holder{
      text-align: center!important;
      line-height: 30px;
    }
  }

  .sku-holder{
    margin-bottom: 10px;
  }
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (max-width: @screen-md-min) {
  .product-item-picture{
    margin-bottom: 15px;
    img{
      display: inline;
      max-width: 100%;
    }
  }
  .product-list{
    &.th{
      > li{
        width: 244px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .make-grid(md);
  .catalog-page-header{
    text-align: left;
    .sorting-product-holder{
      line-height: 59px;
    }
  }
  .product-list{
    &.th{
      > li{
        width: 230px;
      }
    }
  }
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(lg);
  .smart-breadcrumbs,
  .index-promo-holder{
    margin-top: 135px;
  }
  .product-list{
    &.th{
      > li{
        width: 280px;
      }
    }
  }
}
